<div class="hdr-solid" id="replace">
    <div class="row flex-row">
        <div class="col">
            <div class="mt-4 ml-4 flex-fill" id="img-div">
                <form action="/insert_image" method="POST" id="image_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{img_form.image}}
                    {% if info %}
                        <img src="{{ info.image.url}}" alt="connect" class="inter">
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col">
            <div id="title" class="mt-2">
                <form action="/update_words" method="POST" id="hdg-form" class="form-rep">
                    {% csrf_token %}
                    <input type="hidden" name="solo_lesson_id" value="{{info.id}}">
                    <input type="text" name="heading" placeholder="{{info.heading}}" value="{{info.heading}}" class="h1 mr-5">
                    <p class="helper"><em>(Feel free to edit the title.)</em></p>
                </form>
            </div>
            <div>
                <form action="/update_words" method="POST" id="dir-form">
                    {% csrf_token %}
                    <input type="hidden" name="solo_lesson_id" value="{{info.id}}">
                    <textarea name="content" cols="30" rows="10" class="directions">{{info.content}}</textarea>
                    <p class="helper"><em>(Feel free to edit the directions in the box above.)</em></p>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hdr-divide flex-fill">
            <hr class="round-lesson mr-n1 my-auto">
            <hr class="line-lesson mx-n1 my-auto">
            <hr class="round-lesson ml-n1 my-auto">
        </div>
    </div>
    <div class="row hdr-ht">
        <div id="student-response" class="px-3 pb-3 rounded">
            <fieldset>
                <legend class="ml-2">Student Name</legend>
                <textarea name="" id="" cols="45" rows="5" class="mx-2">(Student will write a response here)</textarea>
                <input type="submit" class="btn btn-color btn-bk font-weight-bold mx-auto mb-2">
            </fieldset>
        </div>
    </div>
</div>