<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>Connections</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <style>
        body{
            background-image: url('{% static "img/nodeslinks.jpg" %}');
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .btn-color, .header{
            background-color: #28947a;
            color: white;
        }
        h5{
            color:#28947a;
            font-weight: bold;
        }
        .btn-block{
            display: block;
        }
        li{
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="text-center mb-0">Welcome to Connections!</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title text-center">Back again?</h5>
                        <h5 class="card-title text-center">Please log in:</h5>
                        {% if request.session.type == "login" %}
                            {% if messages %}
                            <ul>
                                {%for message in messages %}
                                    <li>{{message}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endif %}
                        <form action="/login/" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email" class=".sr-only"></label>
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="email" class=".sr-only"></label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>                            
                            <input type="submit" class="btn-color btn-block font-weight-bold" value="Log In">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">New here?</h5>
                        <h5 class="card-title text-center">Please sign up:</h5>
                        {% if request.session.type == "signup" %}
                            {% if messages %}
                            <ul>
                                {%for message in messages %}
                                    <li>{{message}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endif %}
                        <form action="/signup" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class=".sr-only"></label>
                                <input type="text" class="form-control" name="name" placeholder="Name" value="{{request.session.name}}">
                            </div>
                            <div class="form-group">
                                <label for="email" class=".sr-only"></label>
                                <input type="email" class="form-control" name="email" placeholder="Email" value="{{request.session.email}}">
                            </div>
                            <div class="form-group">
                                <label for="password" class=".sr-only"></label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="confirm" class=".sr-only"></label>
                                <input type="password" class="form-control" name="confirm_password" placeholder="Re-type Password">
                            </div>   
                            <input type="submit" class="btn-color btn-block font-weight-bold" value="Sign Up">
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>