<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Set-Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header card-color">
                <div class="row justify-content-center mx-3">
                    <img src="{% static 'img/PuzzleYellow.jpg' %}" alt="4 hands putting puzzle together" class="sm">
                    <h1 class="text-center ml-3">What do you want to do?</h1>
                </div>
            </div>
            <div class="card-body card-body-edges p-3 mx-0">
                <h5 class="mt-2">Create a new lesson!</h5>
                <form action="/new_lesson_connect" method="POST" id="create_double" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="lessons"><span class="font-weight-bold">Select 2 </span>single image lessons you want to connect</label>
                        <select multiple class="form-control" name="lessons" id="lessons" required>
                            {% for lesson in solo_lessons %}
                            <option value="{{lesson.id}}">{{lesson.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="invalid-feedback">
                        Please select 2 lessons.
                    </div>
                    <small id="multiple_help" class="form-text text-muted ml-2">(Hold down the Control or Command button while selecting two lessons.)</small>
                    <input type="submit" class="btn btn-color btn-bk mx-auto font-weight-bold mt-2" id="waiting" disabled="disabled" value="Create">
                </form>
                <div class="or">
                    <div class="row">
                        <hr class="round mr-0 my-auto">
                        <hr class="line mx-0 my-auto">
                        <hr class="round ml-0 my-auto">
                        <h4 class="mx-3 mt-2">OR</h4>
                        <hr class="round mr-0 my-auto">
                        <hr class="line mx-0 my-auto">
                        <hr class="round ml-0 my-auto">
                    </div>
                </div>
                <div>
                    <form action="/teacher_choice_double" method="POST" class="m-3" id="use_double">
                        {% csrf_token %}
                        <div class="form-inline">
                            <label for="select_lesson" class="h4 mr-2">For this lesson:</label>
                            <select name="lesson" id="lesson" class="custom-select mr-2" required>
                                <option value="">Choose lesson...</option>
                                {% for lesson in connect_lessons %}
                                <option value="{{lesson.id}}">{{lesson.title}}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Please select a lesson</div>
                        </div>
                        <h5 class="card-title text center">I want to:</h5>
                        <div class="ml-5">
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="action" value="modify" id="modify" checked>
                                <label for="modify" class="form-check-label">Modify or Delete</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="action" value="student_work" id="student_work">
                                <label for="student_work" class="form-check-label">View Student Work</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="action" value="code" id="code">
                                <label for="code" class="form-check-label">Post the code for my class</label>
                            </div>
                            <div id="insert-here">
                            </div>

                        </div>
                        <input type="submit" class="btn btn-color btn-bk mx-auto font-weight-bold mt-2" value="Go!">
                    </form>
                </div>
            </div>
            <div class="card-footer btn-color d-flex align-items-center">
                <div class="flex-grow-1 text-center">
                    <a href="/single_or_double">Go to Single vs Double, please.</a>
                </div>
                <div>
                    <a href="/logout" class="btn logout-color mx-2 font-weight-bold">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <script>
        $(document).on("change", 'form#use_double input:radio#code', function(e){
            if($(this).prop('checked')){
                e.preventDefault()
                $.ajax({
                    url: 'update_options',
                    method: 'GET',
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        console.log("this is the server's response", serverResponse)
                        $('#insert-here').html(serverResponse)
                    },
                    error: function(){
                        alert("failed");
                        console.log(data)
                    }
                })
            }
            else{
                $('#maybe-hide').hide()
            }
            $(this).trigger('reset')
        })
        $('form#use_double input:radio#student_work').change(function(){
            $('#maybe-hide').hide()
        })
        $('form#use_double input:radio#modify').change(function(){
            $('#maybe-hide').hide()
        })

        $('#lessons').click(function(){
            var count = $("#lessons :selected").length;
            if (count == 2){
                if ($('#waiting').is(':disabled')){
                    $('#waiting').removeAttr('disabled');
                }
                else{
                    $('#waiting').attr('disabled','disabled');
                }
            }
        })

    </script>
</body>
</html>