<div class="hdr-solid" id="replace">
    {% load widget_tweaks %}
    <div class="row flex-row">
        <div class="col">
            <div class="mt-4 ml-4 flex-fill image">
                <form action="/solo_lesson_setup" method="POST" id="top_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><label for="image">Click to insert an image:</label></p>
                    {{img_form.image}}
                    <p>Made it here</p>
                    {% if info %}
                        <img src="{{ info.image.url}}" alt="connect" style="max-height:300px">
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="col">
            <div id="title" class="mt-2">
                <form action="/update_solo_lesson_heading" method="POST" id="heading_form">
                    {% csrf_token %}
                    {% render_field hdg_form.heading placeholder="What do you notice?" value="{{info.heading}}" class+="h1 mr-5" %}
                    {% if info.heading %}
                        <h1>{{info.heading}}</h1>
                    {% endif %}
                    <p class="helper"><em>(Feel free to edit the title.)</em></p>
                </form>
            </div>
            <div>
                <form action="/update_solo_lesson_directions" method="POST" id="directions_form">
                    {% csrf_token %}
                    {% render_field dir_form.content class+="directions" placeholder="Share what you observe about the image." %}
                    {% if info.content %}
                        <p>{{info.content}}</p>
                    {% endif %}
                    <p class="helper"><em>(Feel free to edit the directions in the box above.)</em></p>
                </form>
            </div>
            <input type="submit">
        </div>
    </div>
    <div class="row">
        <div class="hdr-divide flex-fill">
            <hr class="round mr-n1 my-auto">
            <hr class="line mx-n1 my-auto">
            <hr class="round ml-n1 my-auto">
        </div>
    </div>
    <div class="row hdr-ht">
        <div id="student-response" class="px-3 pb-3 rounded">
            <fieldset>
                <legend class="ml-2">Student Name</legend>
                <textarea name="" id="" cols="45" rows="5" class="mx-2">(Student will write a response here)</textarea>
                <input type="submit" class="btn btn-color btn-bk font-weight-bold mx-auto mb-2">
            </fieldset>
        </div>
    </div>
</div>