<div id="maybe-hide" class="ml-5">
    <div class="form-check">
        <input type="radio" class="form-check-input" name="parts" value="part_1" id="part_1" checked>
        <label for="code" class="form-check-label">I only want students to post today</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="parts" value="part_2" id="part_2">
        <label for="code" class="form-check-label">Students already posted on this lesson.  They only need to select top posts today.</label>
    </div>
    <div class="form-check">
        <input type="radio" class="form-check-input" name="parts" value="both_parts" id="both_parts">
        <label for="code" class="form-check-label">I want student to both post and select top posts today.</label>
    </div>
</div>